<% include partials/header %>

    <div class="jumbotron">
        <h1 class="display-4">Welcome to UPMiX!</h1>
        <p class="lead">Unbelievably personalized trailmix to help you achieve sheer satisfaction during snacktime.</p>
        <hr class="my-4">
        <p>Allow us to build your ideal bag. Enjoy the perfect handful everytime you reach for something healthy (or simply delicious) at anytime of the day. </p>
        <a class="btn btn-primary btn-lg" href="/login" role="button"><strong>LOG IN TO START YOUR CREATION!</strong></a>
    </div>

<% include partials/footer %>